.defaultButton {
  height: 3rem;
  background-color: var(--secondary);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 5px;
}

.outlineButton {
  height: 3rem;
  color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  border: 2px solid var(--secondary);
  border-radius: 5px;
}
