* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #89A67E;
    --white:#EBEEED;
    --secondary: #1B1F22;
    --danger: #A95F5F
}

@media(max-width:1080px){
    html{
        font-size: 93.75%;
    }
}


@media(max-width:720px){
    html{
        font-size: 87.5%;
    }
}

body {
    background: var(--white);
    color: var(--secondary);
}

body, input,textarea,select,button {
    font: 500 1rem "Montserrat";
}

button{
    cursor: pointer;
}
