.headerView {
  height: 5rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: xx-large;
    font-weight: bold;
  }

  button {
    position: absolute;
    left: 20px;
    background: none;
    border: none;
    transition: 1s;

    &:hover {
      opacity: (0.2);
    }
  }
  .icon {
    font-size: xx-large;
  }
}
