.headerView {
  height: 5rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: xx-large;
    font-weight: bold;
  }

  .icon {
    position: absolute;
    font-size: xx-large;
  }
}
