.card{
    background-color: var(--secondary);
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;

    span{
        color: var(--white);
        font-size: 1.5rem;
    }

    .deleteIcon{
        color: var(--primary);
        font-size: x-large;
    }

    .iconsView{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

    }
}